/home/am-n8/Desktop/Developmnt_Aditya/Projects/Forum/Server/node_modules
/home/am-n8/Desktop/Developmnt_Aditya/Projects/Forum/View/forum/dist
/home/am-n8/Desktop/Developmnt_Aditya/Projects/Forum/View/forum/e2e
/home/am-n8/Desktop/Developmnt_Aditya/Projects/Forum/View/forum/node_modules
