.container {
  text-align: center;
}
.ask-question-box {
text-align: center;
}

.input {
  margin-bottom: 5%;
  margin-left:15%;
  margin-right:15%;
}

.input-title {
  width: inherit;

}
p{
  float:center;
}
button{
  margin-top: 5%;
}


/* .ck-editor__is-empty.ck-content.ck-editor__editable::before {
	content: 'The editor is empty';
	position: absolute;
	display: block;
	margin: var(--ck-spacing-large) 0;
	color: #aaa;
} */
