<app-nav-bar ></app-nav-bar>
<div class="container">

  <header class="alert alert-primary">
    <h3 class="text-primary">Dashboard</h3>
    <h4>Welcome, {{Username}}</h4>
  </header>

  <div class="options">
    <div class="row">
    <div class="col-md-3 option-1 alert-success raise animat">
      you have answered
      <div class="number">
       <ng2-odometer [number]="questionCount" [config]="{ }"></ng2-odometer>
       </div>
       questions
    </div>

    <a class="col-md-5 option-2 alert-primary raise animat shadow" routerLink="/ask-question" data-toggle="tooltip" title="Ask!">
      Ask<br> a<br> Question!
    </a>

    <div class="col-md-3 option-3 alert-success raise animat">
      you have asked
      <div class="number">
       <ng2-odometer [number]="answerCount" [config]="{ }"></ng2-odometer>
       </div>
       questions
    </div>
    </div>
  </div>
  <h2>Or</h2>

  <p>Answer below questions</p>
  <div class="show-question">
  <app-recent-questions> </app-recent-questions>
  </div>
</div>
